<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Pdctools - {{ page.title }}</title>
    <link href="/styles/screen.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/styles/pygments.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="page">
      <div id="headwrap">
        <div id="header">
	  <div id="logo">
	    <h1><a href="/">pdctools</a></h1>
          </div>
	  <div id="menu">
	    <ul>
	      <li><a href="/">Home</a></li>
	      <li><a href="#">About</a></li>
	      <li><a href="#">Contacts</a></li>
	      <li><a href="#">News</a></li>
	      <li><a href="#">Documentation</a></li>
	      <li><a href="#">Bugs</a></li>
	      <li><a href="#">Sources</a></li>
	    </ul>
	  </div>
        </div>
      </div>
      <div id="main">
        <div id="content">
	  <h1>{{ page.title }}</h1>

          {{ content }}

        </div>
      </div>

      <div id="footer">
	<p><a href="http://validator.w3.org/check?uri=referer">HTML5 valid!</a> - <a href="http://jigsaw.w3.org/css-validator/check/referer?profile=css3">CSS3 valid!</a></p>
      </div>

    </div>
  </body>
</html>
