<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Pdctools - {{ page.title }}</title>
    <link href="/styles/screen.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/styles/pygments.css" media="screen" rel="stylesheet" type="text/css">
  </head>
  
  <body>
    <div id="main">
      <div id="wrapper">
        <div id="header">
	  <div id="logo">
	    <h1><a href="/">pdctools</a></h1>
          </div>
	  <div id="menu">
	    <ul>
	      <li><p class="active"><a href="/" title="Home">Home</a></p></li>
	      <li><p><a href="#" title="Blog">Blog</a></p></li>
	      <li><p><a href="#" title="News">News</a></p></li>
	      <li><p><a href="#" title="About">About</a></p></li>
	      <li><p><a href="#" title="Contacts">Contacts</a></p></li>
	      <li><p><a href="#" title="Documentation">Documentation</a></p></li>
	      <li><p><a href="#" title="Bugs">Bugs</a></p></li>
	      <li><p><a href="#" title="Sources">Sources</a></p></li>
	    </ul>
	  </div>
        </div>
      </div>
      <div id="page">
        <div id="content">
	  <h1>{{ page.title }}</h1>

          {{ content }}

	  <div id="sidebar">
	    <div id="sidebar-bgtop"></div>
	    <div id="sidebar-content">
	      &nbsp;
	    </div>
	    <div id="sidebar-bgbtm"></div>
	  </div>

        </div>
      </div>

      <div id="footer">
	<p>Graphical theme by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>. Released under <a href="http://creativecommons.org/licenses/by/2.5/deed.it" title="CC BY 2.5">Creative Commons 2.5</a>.</p>
      </div>

    </div>
  </body>
</html>
