/*
 * vim:sts=2:sw=2
 * Author: Emiliano Vavassori <syntaxerrormmm--at--gmail.com>
 * Date: 15/12/2011
 */


/*
 * General definitions
 */

* {
  margin: 0px;
  padding: 0px;
}

body {
  border: 0px;
  margin: 0px auto;
  padding: 0px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: #212121;
}

h1 { font-size: 2.4em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.4em; }

a { color: #175555; }
a img { border: 0px; }
a:hover {
  text-decoration: none;
  color: #a00;
}

p, ol, ul { margin-bottom: 0.5em; }

/*
 * Page wrapper
 */

div#page { padding-bottom: 10px; }

/*
 * Header stuff
 */

div#headwrap {
  background-color: #699c4d;
  border-bottom: 2px solid #ccc;
}

div#header {
  margin: 0px auto;
  width: 900px;
  /* for some reason, removing the following line will make
   * a blank line appear before the header */
  border: 1px solid #699c4d;
}

div#header a {
  display: block;
  color: white;
  text-decoration: none;
}

div#logo {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  text-align: center;
}

div#logo a { text-transform: uppercase; }

div#menu {
  margin: 0px auto 8px auto;
  height: 2em;
  border-top: 2px #9bc56f solid;
  background-color: #243f12;
  border-radius: 10px;
}

div#menu ul {
  width: 100%;
  list-style-type: none;
  margin: auto;
  background-color: #9bc56f;
}

div#menu li {
  width: 14.2%;
  float: left;
  text-align: center;
}

div#menu a {
  font-size: 12px;
  line-height: 2em;
  height: 2em;
}

div#menu a:hover { text-decoration: underline; }

/*
 * Main stuff
 */

div#main {
  width: 900px;
  margin: 0px auto;
}

div#content { width: 576px; }

div#content h1, div#content h2 {
  margin: 15px 0px 10px 0px;
  padding-bottom: 5px;
  color: #232f01;
  border-bottom: 1px #bfc9ae solid;
}

div#content h1 a, div#content h2 a {
  color: #232f01;
  text-decoration: none;
}

/*
 * Sidebar
 */

div#sidebar {
  float: right;
  width: 300px;
}

div#sidebar-bgtop, div#sidebar-bgbtm { height: 3px; }
div#sidebar-content { padding: 20px; }

div#sidebar ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

div#sidebar li ul {
  padding-left: 20px;
  list-style: none;
}

div#sidebar h2, div#sidebar h3 {
  padding: 4px 20px;
  background: #699c4d;
  font-size: 1.2em;
  color: #ffffff;
}

div#sidebar h2 a, div#sidebar h3 a { color: #ffffff; }

div#sidebar a {
  color: #232f01;
  text-decoration: none;
}

div#sidebar a:hover { text-decoration: underline; }

/*
 * Footer
 */

div#footer {
  clear: both;
  display: block;
  margin: 0px auto;
  width: 900px;
  height: 2em;
  line-height: 2em;
  border-radius: 5px;
  color: #fff;
  background: #699c4d;
  text-align: center;
  font-size: 10px;
}

div#footer a {
  color: #fff;
  font-weight: bold;
}
