
body{
	margin:0;
	padding:0;
	font: 13px Arial, Helvetica, sans-serif;
	color: #212121;
	}
#wrapper{
	margin: 0;
	padding: 0;
	background: url(../images/img01.jpg) repeat-x left top;
}

h1, h2, h3 {
	margin-top: 0px;
}

h1 {
	font-size: 2.4em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.4em;
}

p, ol, ul {
	margin-bottom: 1.8em;
	line-height: 160%;
}

a {
	color: #175500;
}

a:hover {
	text-decoration: none;
	color: #FF0000;
}

a img {
	border: none;
}

/* Header */

#header {
	width: 900px;
	/* height: 130px; */
	margin: 0px auto;
	background: #699C4D;
}

#header a {
	text-decoration: none;
	color: #FFFFFF;
}

#header h1, #header p {
	margin: 0px 0px 0px 0px;
	line-height: normal;
	font-weight: normal;
	color: #FFFFFF;
}

#header h1 {
	padding: 25px 0px 25px 0px;
}


/* Logo */

#logo{
 	/* float: left; */
	/* background: url(/images/img03.jpg) no-repeat left top; */
	/* padding-left: 70px; */
	width: 100%;
	font-size: 20px;
	text-align: center;
	font-variant: small-caps;
}


/* Menu */

#menu {
	/* float: right; */
	display: block;
	background: #243F12;
	border-top: 2px #9BC56F solid;
	margin: 0px auto 0px auto;
}

#menu ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	width: auto;
	float: left;
	margin: 0px 0px 0px 1px;
}

#menu a {
	display: block;
	width: auto;
	height: 28px;
	padding: 12px 20px 0px 20px;
	background: url(../images/img02.jpg) no-repeat right 50%;
	text-decoration: none;
	color: #fff;
}

#menu a:hover {
	text-decoration: underline;
}

#menu .first {
	background: none;
}

#menu .active a {
}

/* Page */

#page {
	width: 900px;
	margin: 0px auto;
	padding: 30px 0px;
}

/* Content */

#content {
	float: left;
	width: 570px;
}

.post {
	margin: 0px 0px 30px 0px;
}

#content h1, #content h2 {
	margin: 0px;
	padding: 0px 0px 5px 0px;
	border-bottom: #BFC9AE solid 1px;
	color: #232F01;
}

#content h1 a, #content h2 a {
	color: #232F01;
	text-decoration:none;
}

.post .entry {
}

.post .meta {
	font-weight: bold;
}

.post .byline {
	margin: 0px;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 300px;
}

#sidebar-bgtop {
	height: 3px;
}

#sidebar-bgbtm {
	height: 3px;
}

#sidebar-content {
	padding: 20px;
}

#sidebar ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#sidebar li ul {
	padding-left: 20px;
	list-style: none;
}

#sidebar h2, #sidebar h3 {
	padding: 4px 20px;
	background: #699C4D;
	font-size: 1.2em;
	color: #FFFFFF;
}
#sidebar h2 a, #sidebar h3 a{
	color: #FFFFFF;
	}

#sidebar a {
	text-decoration: none;
	color: #232F01;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Search */

#search {
}

#search form {
	margin-bottom: 1.8em;
	padding: 0px;
}

#search fieldset {
	margin: 0px;
	padding: 0px;
	border: none;
}

#search #s {
	width: 160px;
}

/* Footer */

#footer {
	clear: both;
	width: 900px;
	margin: 0px auto 30px auto;
	color: #FFFFFF;
	background: #699C4D;
	text-align: center;
	line-height: normal;
	font-size: 11px;
}

#footer p {
	margin: 0px;
	padding: 19px 0px 0px 0px;
}

#footer a {
	color: #FFFFFF;
}
